aside {
  background-color: var(--color-grey-100);
  margin: 0px 20px;
  padding: 88px 120px 120px 120px;
}

.meus-servicos {
display: flex;
gap: 24px;
padding: 20px;
justify-content: center;
margin-top: 56px;
}

.container-servicos {
  border: solid 1px var(--color-grey-200);
  border-radius: 10px;
  padding: 20px;

  h3 {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}