main {
  background-color: var(--color-grey-200);
  padding:72px 120px ;
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
align-items: flex-start;
align-content: center;
  
div:nth-child(1) {
display: block;
width: 1366px;

}
}

.status-default {
display: flex;
flex-wrap: wrap;
padding: 6px;
width: 330px;
height: 280px;
gap: 24px;
border-radius: 10px;

&:hover {
  background-image: url(assets/Status=Hover.png);
  display: flex;
flex-wrap: wrap;
padding: 6px;
width: 330px;
height: 280px;
gap: 24px;
border-radius: 10px;

}
}

.imagem-projeto {
  display: flex;
  position: absolute;
  width: 306px;
  height: 156px;
  border-radius: 8px;
  margin-top: 14px;
  margin-left: 14px;
  
}

.project-card {
  display: flex;
  flex-wrap: wrap;
padding: 10px;
gap: 20px;

}

.text-projeto {
  display: block;
  position: absolute;
  background-color: var(--color-grey-300);
  border-radius: 10px;

  padding: 10px;
  align-items: end;
  margin: 188px 12px 17px 6px;
}